<!-- * * * * * * * * * * * Author : Manoj Wadile * * * * * * * * * * * -->
<!-- * * * * * * * * * * * Date : 29/03/2022 * * * * * * * * * * * -->
<h1>Power Generation Plant In USA</h1>
<p><a href="https://www.epa.gov/egrid/download-data" target="_blank">Official Website</a></p>

<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)" class="container">
  <div class="row mb-2">
    <div class="col-lg-3 form-group">
      <div class="row">
        <label class="col-lg-4">Top Plants</label>
        <div class="col-lg-8">
            <input type="text" name="topPlants" autocomplete="off" class="form-control" [(ngModel)]="model.topPlants" required>
        </div>
      </div>
    </div>   
    <div class=" col-lg-3 form-group">
      <div class="row">
        <label class="col-lg-4">States</label>
        <div class="col-lg-8">
            <select class="form-control" name="state" [(ngModel)]="stateName">
              <option value="">Select an option</option>
              <option *ngFor="let state of states" [value]="state.usAbbreviation">
                {{state.stateName}}
              </option>
            </select>
        </div>
      </div>
    </div>
    <div class="col-lg-3 form-group">
      <button class="btn btn-danger btn-block">Submit</button>
    </div>
  </div>
</form>

<agm-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
 >
  <agm-marker 
      *ngFor="let plant of powerPlants; let i = index"
      [latitude]="plant.plantLatitude"
      [longitude]="plant.plantLongitude"
      [label]="plant.plantName"
      [markerDraggable]="plant.draggable"
      >
    <agm-info-window>
      <strong>Plant Name : {{plant.plantName}}</strong><br>
      <strong>Annual Net Gen : {{plant.plantAnnualNetGeneration | number}}</strong><br>
      <strong>Total Non renewable Gen :{{plant.plantTotalNonrenewablesGenePercent}}</strong><br>
      <strong>Total Combustion Gen :{{plant.plantTotalCombustionGenerationPercent}}</strong><br>
      <strong>Total Non Combustion Gen :{{plant.plantTotalNoncombustionGenPercent}}</strong><br>
      <strong>Total Nonhydro Renewable Gen :{{plant.plantTotalNonhydroRenewablesGenPercent}}</strong><br>
    </agm-info-window>
  </agm-marker>
  <agm-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </agm-circle>
</agm-map>

